<!-- banner-bottom -->

<div class="tm-section-wrap about-wrapper" style="margin-left: 3em">
  <div class="row">
    <blockquote>Thông điệp của giám đốc</blockquote>
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.17in; margin-bottom: 0.17in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="fr-FR"><B>Kính gửi: Quý khách hàng!</B></SPAN></FONT
        ></FONT
      ></P
    >
    <p>
      <span class="firstcharacter">C</span>ông ty TNHH Thương mại Dịch vụ & Đầu
      tư sản xuất TRƯỜNG THỊNH được thành lập vào tháng 9 năm 2019, là công ty
      chuyên cung cấp chuỗi dịch vụ tổng hợp cho các doanh nghiệp.
    </p>
    <p>
      Trong bối cảnh nền kinh tế toàn cầu hóa hiện nay cũng như kinh tế đất nước
      ngày càng phát triển và lớn mạnh, nhu cầu liên kết giữa các đối tác là rất
      lớn và đa dang. Trong khi đó, nhiều công ty hiện tại chỉ cung cấp một mảng
      dịch vụ nhất định, điều này đã gây nhiều khó khăn cho hoạt động sản xuất
      kinh doanh của khách hàng. Vì vậy, công ty Trường thịnh đã được thành lập
      nhằm mục đích cung cấp chuỗi dịch vụ để hỗ trợ và góp phần giải quyết các
      vấn đề khó khăn cho các doanh nghiệp. Với trang thiết bị hiện đại và các
      thiết bị chuyên dùng, cùng đội ngũ nhân sự quản lý sản xuất chuyên nghiệp
      và đội ngũ kỹ thuật lành nghề, công ty Trường Thịnh mang đến những sản
      phẩm có chất lượng cao, tiến độ giao hàng đảm bảo, giá thành hợp lý nhằm
      đáp ứng các yêu cầu và nhu cầu khác nhau của Quý khách hàng.
    </p>
    <p>
      Đến với Trường Thịnh, Quý khách hàng sẽ tiết kiệm được thời gian và dễ
      dàng quản lý tài chính, chất lượng, tiêu chuẩn sản phẩm bởi chúng tôi cung
      cấp đầy đủ các dịch vụ như:<br />
      1. Tư vấn đầu tư xây dựng & giám sát các công trình đường dây và trạm biến
      áp có cấp điện áp đến 35kV;<br />
      2. Khảo sát địa chất, khảo sát địa hình công trình; <br />
      3. Thiết kế, thẩm tra thiết kế xây dựng (kiến trúc; kết cấu; cơ - điện;
      cấp thoát nước) công trình dân dụng và công nghiệp; <br />
      4. Thiết kế, thẩm tra thiết kế xây dựng công trình giao thông (cầu, đường
      bộ); <br />
      5. Quản lý dự án đầu tư xây dựng. <br />
      6. Giám sát thi công xây dựng công trình dân dụng & công nghiệp, giao
      thông (cầu, đường bộ);<br />
      7. Thi công xây dựng các công trình dân dụng và công nghiệp.<br />
      8. Sản xuất các sản phẩm đột dập, tiện, hàn và các thiết bị chuyên dùng,
      dụng cụ phụ trợ cho các ngành sản xuất băng tải, sản phẩm gia dụng, nội
      thất,… <br />
    </p>
    <p>
      Với phương châm “Hợp tác để cùng thành công”, “Uy tín, tận tâm tạo nên giá
      trị”, và định hướng “Liên tục cải tiến”, Trường Thịnh đã, sẽ và luôn nỗ
      lực cả về nhân lực, vật lực, xây dựng uy tín thương hiệu, niềm tin với
      khách hàng với những sản phẩm chúng tôi cung cấp. Sự tin tưởng và ủng hộ
      của Quý khách hàng trong suốt thời gian qua là nguồn động viên to lớn trên
      bước đường phát triển của Trường Thịnh. Chúng tôi xin hứa sẽ không ngừng
      hoàn thiện, phục vụ Quý khách hàng tốt nhất để luôn xứng đáng với niềm tin
      ấy.
    </p>
    
    <P
      ALIGN="CENTER"
      STYLE="margin-left: 1.5in; text-indent: 0.5in; margin-top: 0.17in; margin-bottom: 0.11in"
    >
      <FONT COLOR="#000000"
        ><FONT FACE="Times New Roman, serif"
          ><FONT SIZE="3"><B>CÔNG TY TNHH TMDV & ĐTSX
            TRƯỜNG THỊNH</B></FONT></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="CENTER"
      STYLE="margin-left: 2.5in; text-indent: 0.5in; margin-top: 0.17in; margin-bottom: 0.11in"
    >
      <FONT COLOR="#000000"
        ><FONT FACE="Times New Roman, serif"
          ><FONT SIZE="3"><B>(đã ký)</B></FONT></FONT
        ></FONT
      ></P
    >
  </div>
</div>
