<div class="breadcrumb_dress">
  <div class="container"></div>
</div>
<div class="footer">
  <div class="">
    <div class="w3_footer_grids">
      <div class="col-md-5 w3_footer_grid">
        <h3>Liên hệ</h3>
        <ul class="address">
          <li>
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i
            ><a href="mailto:congtytruongthinh19@gmail.com"
              >congtytruongthinh19@gmail.com</a
            >
          </li>
          <li>
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>076
            777 1869 - Địa chất
            <a href="mailto:tuvantruongthinh19@gmail.com"
              >- tuvantruongthinh19@gmail.com</a
            >
          </li>
          <li>
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>097
            633 2139 - Cơ khí
            <a href="mailto:bao.cokhitruongthinh19@gmail.com"
              >- bao.cokhitruongthinh19@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-5 w3_footer_grid">
        <h3>Thông tin</h3>
        <ul class="address">
          <li>
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>VP:
            C5/1, ấp 3, xã Vĩnh Lộc A, huyện Bình Chánh, TPHCM
          </li>
          <li>
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i
            >Xưởng: 145/34 Huỳnh Thị Hai, phường Tân Chánh Hiệp, Quận 12, TP.HCM
          </li>
        </ul>
      </div>

      <div class="col-md-2 w3_footer_grid">
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li>
              <a href="mailto:tuvantruongthinh19@gmail.com" class="google"> </a>
            </li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
        <div class="copy-right">
          <p>
            &copy; Design by Thao Tran Van
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer-copy">
    <!-- <div class="footer-copy1">
          <div class="footer-copy-pos">
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
          </div>
      </div> -->
  </div>
</div>
